
@font-face {
	font-family: Desdemona; 
	src: url(fonts/desdemon.ttf);
}

body, html{
	background-color: #65b6bf;
	font-family: Desdemona; 
	color: white;
	height: 100%;

}

.greeting {
	font-size: 65px;
	margin-top: 10%;
	text-align: center;
}