@font-face {
  font-family: Desdemona;
  src: url("../fonts/desdemon.ttf"); }
@font-face {
  font-family: QuaverSerif;
  src: url("../fonts/QuaverSerif.otf"); }
@font-face {
  font-family: QuaverSans;
  src: url("../fonts/QuaverSans.otf"); }
body, html {
  font-family: QuaverSerif;
  color: #2f2f2f;
  height: 100%;
  background-color: white;
  /*background: -webkit-linear-gradient(bottom, $darkCanvas, $darkCanvas 50%, $light-canvas 50%, $light-canvas);	*/ }

.bg {
  background: url("../img/bg.png") repeat center center;
  height: 100%; }

a {
  color: black; }

a:hover {
  color: black;
  text-decoration: underline; }

.greeting {
  font-size: 65px;
  padding-top: 10%;
  text-align: center;
  font-family: Desdemona; }

.frame {
  border-radius: 15px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  width: 200px;
  margin-right: 10px;
  height: 210px;
  background-color: #ade1eb; }

.framePic {
  width: auto;
  max-height: 200px;
  max-width: 180px; }

.framePic:hover {
  cursor: pointer; }

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none; }

.littleFrames {
  margin-top: 8px;
  background-color: white;
  padding: 3px;
  padding-top: 7px;
  padding-left: 7px;
  width: 180px;
  height: 65px;
  border-radius: 5px; }

.littleFrame {
  max-width: 50px;
  max-height: 50px;
  margin-right: 3px;
  border-radius: 5px;
  /*border-style: solid;
  border-color: white;
  border-width: 1px;*/
  background-color: #ade1eb; }

.littleFrame.active {
  background-color: white; }

.littleFramePic {
  max-width: 350px;
  max-height: 350px;
  float: left; }

.aboutPanel {
  background-color: white;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  margin-top: 5em;
  font-family: QuaverSans;
  font-size: 18px;
  letter-spacing: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: black; }

.projectPanel {
  height: auto; }

.projectTitle {
  font-family: QuaverSans;
  font-size: 40px;
  text-decoration: underline;
  float: right;
  margin-right: 5%; }

.aboutText {
  padding: 25px;
  margin-right: 10px;
  height: auto; }

.sayhi,
.sayhi:hover {
  font-family: QuaverSans;
  font-size: 40px;
  color: white;
  background-color: transparent;
  border-width: 0px; }

.next-arrow {
  float: right;
  background-color: #ffb3cf;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 25%;
  margin-right: 3%; }

.next-arrow:hover {
  cursor: pointer; }

.stalk-text {
  float: right;
  vertical-align: middle; }

#social-media {
  display: none;
  background-color: #ade1eb;
  padding: 10px;
  width: auto;
  border-radius: 10px;
  /*display: inline-block; */
  border-width: 1px;
  border-color: black;
  border-style: solid;
  position: absolute;
  top: 40%;
  right: 10%; }

.stalker-icons {
  height: 80px;
  margin-right: 7px;
  margin-bottom: 5px;
  border-style: dotted;
  border-color: black;
  border-width: 1px;
  border-radius: 5px; }

.title {
  font-family: QuaverSans;
  font-size: 20px; }

.slides {
  background-color: white; }

.picture {
  max-width: 500px;
  max-height: 400px;
  height: auto;
  text-align: center;
  display: block;
  margin: auto;
  padding-bottom: 15px;
  padding-top: 15px; }

.pictureCaption {
  letter-spacing: 2px;
  font-size: 20px;
  text-align: center;
  /*background-color: $darkCanvas;*/
  padding-top: 5px; }

.nextRandom {
  float: right;
  margin-right: 5px; }

.nextRandom:hover {
  text-decoration: underline;
  cursor: pointer; }
